/* start codding */
body{
margin: 0 auto;
padding: 0;
}
a,ul,li,ol{
list-style-type: none;
outline: none;
text-decoration: none;
}
.container {
width: 100%;
padding-left:1rem;
padding-right: 1rem;
margin-left:-1rem;
margin-right:-1rem;
}
/* start styling desktop navigation */
.topHead{
background-image: url("./lastsecondPic/world\ map.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 500px;
margin-top:100px;
}
.menuTop{
display: flex;
margin-top: -100px;
background-color: #ffff;
box-shadow: 1px 3px 6px rgba(104, 102, 102, 0.2);
padding: 10px;
gap: 2rem;
}
.imgLogo{
width: 200px;
padding-right: 50px;
}
.navMenu{
display: flex;
justify-content: center;
align-items: baseline;
flex-direction: row;
gap: 1.7rem;
}
.navLink{
font-size: 15px;
font-family: 'vazir';
color: #989a9b;
}
.navLink:hover , .downIcon:hover{
color: coral;
transition: all 250ms ease-in-out;
}
.navLinkAfter::after{
content: "جدید";
display: flex;
position: absolute;
text-align: center;
background-color: crimson;
padding: 0 10px;
top:3px;
margin-right: 40px;
border-radius: 5px;
color: #ffff;
}
.downIcon{
font-size: 12px;
padding-right: 5px;
}
.searchIcon{
font-size: 20px;
padding-right:12px;
color: #989a9b;
}
.searchItem{
border-left: 1px #989a9b;
}
.leftMenu{
display: flex;
justify-content: center;
align-items: baseline;
float: left;
margin-left: 70px;
margin-top: -55px;
font-size: 15px;
gap: 1rem;
font-family: 'vazir';
color: #989a9b;
}
.searchIcon{
padding-left: 1px;
}
.SignIn{
border-right: 1px solid #989a9b;
padding-right: 10px;
color:coral;

}
/* end of desktop navigation*/
/* start coding phone navigation */
.navMenupPhone{
background-color: #ffff;
margin-right: 10px;
width: 250px;
height: 350px;
display: none;
}
.navLinkPhone{
font-family: 'vazir';
color: #989a9b;
font-size:15px;
padding-right:25px;
margin-top: 10px;
}
#checkBox{
position: absolute;
left: 69px;
z-index: -1;
visibility: hidden;
}
.list{
display: none;
position: absolute;
left: 61px;
top: 12px;
font-size: 42px;
color: coral;
}
/* end coding phone navigation */
/* start title part */
.titlePart{
display: flex;
padding-right: 100px;
z-index: 10;
}
.titel{
display: flex;
gap: 1rem;
margin-right:100px;
margin-top: 100px;
font-family: 'vazir';
color: #333;
font-size: 40px;
word-spacing: 3px;
}
.lastSecoundText{
color:coral; 
}

.titel::before{
content: "";
background-color: #FFCCBC;
border-radius: 35px 0 0 35px;
display: inline-block;
height: 70px;
width: 35px;
}
.imagePart{
display: flex;
gap: 2rem;
left: 80px;
top: 107px;
position: absolute;
}
.imageTop{
width: 220px;
border-radius: 100px;
border: 10px solid #989a9b;
box-shadow: 1px 2px 3px #989a9b;
}
.imageTop:hover{
border: 12px solid coral;
transition: all 350ms ease-in-out;
}
/* fonts  */
@font-face {
font-family: 'vazir';
src: url(../fonts/vazir-Black.woff);
}
@font-face {
font-family: 'vazir';
src: url(../fonts/vazir-Black.woff);
}

/* responsive Part */
@media screen and (max-width:558px){
    .titel{
     display: none;
    }
.imagePart{
flex-direction: row;
}
}

@media screen and (max-width:778px){
.imagePart{
 flex-direction:row;
 width: 120px;
 top: 230px;
 left: 220px;
 }
}
@media screen and (max-width:992px){
.leftMenu , .titel::before{
display: none;
}  
.navMenupPhone{
display: none;
transition: all 350ms ease-in-out;
  }
.list{
display: inline-block;
}
.imagePart{
flex-direction: column;
width: 220px;

}

}

@media screen and (max-width:1200px){
.navMenu , .titel::before{
display: none;
}  
.titel{
margin-right: 88px;
font-size: 45px;
}
.imageTop{
flex-direction: column;
width: 120px;
left: 100px;
border: 5px solid #989a9b;
}
  }